

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<body style=" background-color: #F6F6F6; padding: 20px; ">
<div class="container-fluid" >
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="">
      <!--<a class="navbar-brand" href="#">-->
        <img alt="Brand"  src="https://lh4.googleusercontent.com/aLSrkmUSb-CgRc94h_WiyLmwu7GJn21Zve8Q7CSCiEnqmZIPlsrRYVj_fLo3H3SLRHi_j4QF9L-QIA=w1600-h766-rw">
      <!--</a>-->
    </div>
  </div>
</nav>
	<div class="row" >
	
		<div class="col-sm-5" style="  border: 1px solid #E8E8E8 ;  background-color: #FFFFFF;">

		<script type="text/javascript">
				
				$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
					e.target('home') // newly activated tab
		 			e.relatedTarget('profile') // previous active tab
				})		


				$('ques').click(function (e){
					e.preventDefault()
					$(this).tab('show')
				})
			</script>


	



			<ul class="nav nav-tabs" role="tablist" >
			  <li  role="presentation" class="active" ><a href="#home" aria-controls="home" role="tab" data-toggle="tab" >QUESTION</a>
			  
			  	<!--<div class="clearfix">
					<div class="">
						<span class="glyphicon glyphicon-star-emptye"></span>

				hey
				
				</div>

				
			</div>-->


			  </li>
			  <li role="presentation" ><a href="#profile" aria-controls="profiles" role="tab" data-toggle="tab" >CHECK LIST</a>

			  

			  	
					


			  </li>
			</ul>



			<!--<div class="clearfix">
			<div class="">
				<span class="glyphicon glyphicon-star-emptye"></span>

				hey
				
			</div>

				
			</div>-->

			<div class="tab-content">
	    <div role="tabpanel" class="tab-pane fade in active" id="home">hello</div>
	    <div role="tabpanel" class="tab-pane fade" id="profile">
	    <div class="clearfix">
			
			<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
					<div>
					<p>
						Microphhone Quality
						
					</p>
					<div>
						
					</div>
					</div>
	    <div role="tabpanel" class="tab-pane" id="messages">...</div>
	    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  			</div>



			<div>
				
			</div>

			<div>
				
			</div>

			<div>
				
			</div>

				







		</div>

		<div class="col-sm-7" style=" background-color: #FFFFFF;">
			

		</div>
	</div>

</div>
</body>