{% extends "site_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}
    {% trans "My Portfolio" %}
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<div class="container-fluid">
		<div class="container" style=" background-color: #E0E0E0; width: 90%; " >
			<div style=" margin-right: 20px; margin-left: 20px; ">
				<h3 align="left">
					<strong style="color: #6C9DFD;">&nbsp;&nbsp;Welcome Pilot Teachers!</strong>
				</h3>

				<span class="row">
					<span class="col-sm-8">
						<p>We are excited about starting this pilot with you so that together we can design the best school driven solution fot building a community focused on providing students with an early start for finding their place in the world.</p>
						<p>We believe if youth have opportunites to learn about the expectations of the workplace and the variety of careers available, they make better decisions about college, how much college debt to take on and will have fewer struggles finding work. It is our experience that many adults are very willing to help students in this process and will share their career experiences, given a viable process for doing so. Be assured that student safety is our top priority and we look forward to working with you to create a strong safety process.</p>
					</span>
				<span class="col-sm-4">
				<div class="thumbnail">
					<a href="https://youtu.be/htOroIbxiFY">
					<div style="padding: 48px;  margin: 3%;  " >
						<img  src="..." alt="videos">
					</div>
					</a>
					<span class="caption" style="">
						<span>About For A Living</span>
					</span>
				</div>
			</div>

			<div class="container-fluid" style="margin:auto; ">
				<div class="row">
					<div class="col-sm-4">
						<div class="thumbnail">
							<!-- Button HTML (to Trigger Modal) -->
							<button type="button" class="btn btn-default btn-lg">
							    <a href="#myModal" class="glyphicon glyphicon-play-circle" data-toggle="modal"></a>
							</button>
							<!-- Modal HTML -->
							<div id="myModal" class="modal fade">
							    <div class="modal-dialog">
							        <div class="modal-content">
							            <div class="modal-header">
							                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							                <h4 class="modal-title">YouTube Video</h4>
							            </div>
							            <div class="modal-body">
							                <iframe src="https://drive.google.com/file/d/0BxCxtGid6VF8bnMzMUNMTnN2bDQ/preview" width="560" height="315"></iframe>
							            </div>
							        </div>
							    </div>
							</div>
							<div class="caption" style="">
								<p>
									<strong>
										Eric <br>
										UX Design Director<br>
									</strong>
									recorded July 9, 2016<br>
									recorded by abbyM<br>
									3.04 minutes

								</p>
								<p>
									<a href="#"></a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="thumbnail">
							<!-- Button HTML (to Trigger Modal) -->
							<button type="button" class="btn btn-default btn-lg">
							    <a href="#myModal" class="glyphicon glyphicon-play-circle" data-toggle="modal"></a>
							</button>
							<!-- Modal HTML -->
							<div id="myModal" class="modal fade">
							    <div class="modal-dialog">
							        <div class="modal-content">
							            <div class="modal-header">
							                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							                <h4 class="modal-title">YouTube Video</h4>
							            </div>
							            <div class="modal-body">
							                <iframe src="https://drive.google.com/file/d/0BxCxtGid6VF8RkgzVDJ1SklnOVU/preview" width="560" height="315"></iframe>
							            </div>
							        </div>
							    </div>
							</div>
							<div class="caption" style="">
								<p>
									<strong>
										Kamal <br>
										Web Developer <br>
									</strong>
									recorded July 9, 2016<br>
									recorded by mzz<br>
									3.04 minutes
								</p>
								<p>
									<a href="#"></a>
								</p>

							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="thumbnail">
							<!-- Button HTML (to Trigger Modal) -->
							<button type="button" class="btn btn-default btn-lg">
							    <a href="#myModal" class="glyphicon glyphicon-play-circle" data-toggle="modal"></a>
							</button>
							<!-- Modal HTML -->
							<div id="myModal" class="modal fade">
							    <div class="modal-dialog">
							        <div class="modal-content">
							            <div class="modal-header">
							                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							                <h4 class="modal-title">YouTube Video</h4>
							            </div>
							            <div class="modal-body">
							                <iframe id="cartoonVideo" width="560" height="315" src="https://drive.google.com/file/d/0BxCxtGid6VF8Y0djTTdPdV9OdG8/preview" frameborder="0" allowfullscreen></iframe>
							            </div>
							        </div>
							    </div>
							</div>
							<div class="caption" style="">
								<p>
									<strong>
										Deric <br>
										Web Developer <br>
									</strong>
									recorded July 9, 2016<br>
									recorded by mzz<br>
									3.04 minutes
								</p>
								<p>
									<a href="#"></a>
								</p>
							</div>
						</div>
					</div>
 					<!--<div class="col-sm-3">
						<div class="thumbnail">
							<a href="https://youtu.be/EnwfhLhmT5o">
							<div style="padding: 48px;  margin: 3%;  " >
								<img  src="..." alt="videos">
							</div></a>
							<div class="caption" style="">
								<p>
									<strong>
										Avni <br>
										Program Manager<br>
									</strong>
									recorded July 9, 2016<br>
									recorded by mzz<br>
									2.15 minutes
								</p>
								<p>
									<a href="#"></a>
								</p>
							</div>
						</div>
					</div> -->
				</div>

							<div class="row">

								<div class="col-sm-3">
									<div class="thumbnail">
										<a href="https://youtu.be/EqWRaAF6_WY">
											<div style="padding: 48px;  margin: 3%;  " >
												<img  src="..." alt="videos">
											</div></a>
											<div class="caption" style="">
												<p>
													<strong>
														Arthor <br>
														Program Manager<br>
													</strong>
													recorded July 9, 2016<br>
													recorded by mzz<br>
													2.15 minutes

												</p>
												<p>
													<a href="#"></a>

												</p>

											</div>



										</div>
									</div>






									<div class="col-sm-3">
										<div class="thumbnail">
											<a href="https://youtu.be/am3iGHDnJHc">
												<div style="padding: 48px;  margin: 3%;  " >
													<img  src="..." alt="videos">
												</div></a>
												<div class="caption" style="">
													<p>
														<strong>
															Keneth <br>
															Web Developer <br>
														</strong>
														recorded July 9, 2016<br>
														recorded by mzz<br>
														3.04 minutes

													</p>
													<p>
														<a href="#"></a>

													</p>

												</div>



											</div>
										</div>

										<div class="col-sm-3">
											<div class="thumbnail">
												<a href="https://youtu.be/9IclmVdWNbI">
													<div style="padding: 48px;  margin: 3%;  " >
														<img  src="..." alt="videos">
													</div></a>
													<div class="caption" style="">
														<p>
															<strong>
																Bruce <br>
																Program Manager<br>
															</strong>
															recorded July 9, 2016<br>
															recorded by mzz<br>
															2.15 minutes

														</p>
														<p>
															<a href="#"></a>

														</p>

													</div>



												</div>
											</div>






											<div class="col-sm-3">
												<div class="thumbnail">
													<a href="https://youtu.be/hrzN1JBmscA">
														<div style="padding: 48px;  margin: 3%;  " >
															<img  src="..." alt="videos">
														</div></a>
														<div class="caption" style="">
															<p>
																<strong>
																	Barry <br>
																	Program Manager<br>
																</strong>
																recorded July 9, 2016<br>
																recorded by mzz<br>
																2.15 minutes

															</p>
															<p>
																<a href="#"></a>

															</p>

														</div>



													</div>
												</div>
											</div>

											<div class="row">

												<div class="col-sm-3">
													<div class="thumbnail">
														<a href="https://youtu.be/6qF_fzEI4wU">
															<div style="padding: 48px;  margin: 3%;  " >
																<img  src="..." alt="videos">
															</div></a>
															<div class="caption" style="">
																<p>
																	<strong>
																		Clark <br>
																		Program Manager<br>
																	</strong>
																	recorded July 9, 2016<br>
																	recorded by mzz<br>
																	2.15 minutes

																</p>
																<p>
																	<a href="#"></a>

																</p>

															</div>



														</div>
													</div>




													<div class="col-sm-3">
														<div class="thumbnail">
															<a href="https://youtu.be/am3iGHDnJHc">
																<div style="padding: 48px;  margin: 3%;  " >
																	<img  src="..." alt="videos">
																</div></a>
																<div class="caption" style="">
																	<p>
																		<strong>
																			Jason <br>
																			Web Developer <br>
																		</strong>
																		recorded July 9, 2016<br>
																		recorded by mzz<br>
																		3.04 minutes

																	</p>
																	<p>
																		<a href="#"></a>

																	</p>

																</div>



															</div>
														</div>

														<div class="col-sm-3">
															<div class="thumbnail">
																<a href="https://youtu.be/MU3pdikir3U">
																	<div style="padding: 48px;  margin: 3%;  " >
																		<img  src="..." alt="videos">
																	</div></a>
																	<div class="caption" style="">
																		<p>
																			<strong>
																				Diana <br>
																				Program Manager<br>
																			</strong>
																			recorded July 9, 2016<br>
																			recorded by mzz<br>
																			2.15 minutes

																		</p>
																		<p>
																			<a href="#"></a>

																		</p>

																	</div>



																</div>
															</div>
															<div class="col-sm-3">
																<div class="thumbnail">
																	<a href="https://youtu.be/LWEHxR6_TQ4">
																		<div style="padding: 48px;  margin: 3%;  " >
																			<img  src="..." alt="videos">
																		</div></a>
																		<div class="caption" style="">
																			<p>
																				<strong>
																					Victor <br>
																					Program Manager<br>
																				</strong>
																				recorded July 9, 2016<br>
																				recorded by mzz<br>
																				2.15 minutes

																			</p>
																			<p>
																				<a href="#"></a>

																			</p>

																		</div>



																	</div>
																</div>
															</div>

	<!--<div class="row">
	<div class="col-sm-12">

	<ul id ="upload_table"> 


	<li>
	<a href="#">	
	</a>
	hey
	</li>

	<li>
	<a href="#">	
	</a>
	hey
	</li>

	<li>
	<a href="#">	
	</a>
	hey
	</li>

	</ul>
	</div>
	</div>-->
	</div>


	<div id ="upload_table">
		<div>
			<a href="#"></a>
		</div>	
	</div>



	</div>
	</div>
	</div>
	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
	    $(document).ready(function(){
	    /* Get iframe src attribute value i.e. YouTube video url
	    and store it in a variable */
	    var url = $("#cartoonVideo").attr('src');
	    
	    /* Assign empty url value to the iframe src attribute when
	    modal hide, which stop the video playing */
	    $("#myModal").on('hide.bs.modal', function(){
	        $("#cartoonVideo").attr('src', '');
	    });
	    
	    /* Assign the initially stored url back to the iframe src
	    attribute when modal is displayed again */
	    $("#myModal").on('show.bs.modal', function(){
	        $("#cartoonVideo").attr('src', url);
	    });
	});
	</script>
{% endblock %}\