{% extends "site_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}
    {% trans "My Portfolio" %}
{% endblock %}

{% block body %}
	test

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<title>Foraliving.org/pilot </title>
		<style>

			

		</style>

	</head>

	<body>


		
		<p>&nbsp;</p>

		<div class="container-fluid">
			<nav class="navbar navbar-default" style="width: 98%; margin: auto; padding: 10px; background-color: #0033cc;">


				<div class="navbar-header" >
					<strong style="font-size: 19px; color: #F6F6F6 ;"> For A Living</strong>
				</div>


			</nav>
			

			<h2 align="center"><strong>Welcome Pilot Teachers!</strong></h2>

			<span class="row">
			<span class="col-sm-9">
			<p>We are excited about starting this pilot with you so that together we can design the best school driven solution fot building a community focused on providing students with an early start for finding their place in the world.</p>
			<p>We believe if youth have opportunites to learn about the expectations of the workplace and the variety of careers available, they make better decisions about college, how much college debt to take on and will have fewer struggles finding work. It is our experience that many adults are very willing to help students in this process and will share their career experiences, given a viable process for doing so. Be assured that student safety is our top priority and we look forward to working with you to create a strong safety process.</p>
			</span>
			<span class="col-sm-3">
				<div class="thumbnail">
				<a href="https://youtu.be/htOroIbxiFY">
					<div style="padding: 55px;  margin: 3%;  border: 1px solid #000000;" >
					<img  src="..." alt="videos">
					</div></a>
					<span class="caption" style="">
						<span>About For A Living</span>
						</span>
						</div>

					<!--<div class="caption" style="">
						<p>
						<strong>
							Hey <br>
							Program Manager<br>
						</strong>
							recorded July 9, 2016<br>
							recorded by mzz<br>
							2.15 minutes

						</p>
						<p>
							<a href="#"></a>

						</p>

					</div>-->



				</div>
			
			</span>
			</span>

			<div class="container-fluid" style="margin:auto; ">
			<div class="row">

			<div class="col-sm-4">
				<div class="thumbnail">
				<a href="https://youtu.be/ZjWPZBdXOl"w>
					<div style="padding: 55px;  margin: 3%;  border: 1px solid #000000;" >
					<img  src="..." alt="videos">
					</div></a>
					<div class="caption" style="">
						<p>
						<strong>
							Eric <br>
							UX Design Director<br>
						</strong>
							recorded July 9, 2016<br>
							recorded by abbyM<br>
							3.04 minutes

						</p>
						<p>
							<a href="#"></a>

						</p>

					</div>



				</div>
			</div>

			<div class="col-sm-4">
				<div class="thumbnail">
				<a href="https://youtu.be/am3iGHDnJHc">
					<div style="padding: 55px;  margin: 3%;  border: 1px solid #000000;" >
					<img  src="..." alt="videos">
					</div></a>
					<div class="caption" style="">
						<p>
						<strong>
							Kamal <br>
							Web Developer &amp; college Student<br>
						</strong>
							recorded July 9, 2016<br>
							recorded by mzz<br>
							3.04 minutes

						</p>
						<p>
							<a href="#"></a>

						</p>

					</div>



				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
				<a href="https://youtu.be/EnwfhLhmT5o">
					<div style="padding: 55px;  margin: 3%;  border: 1px solid #000000;" >
					<img  src="..." alt="videos">
					</div></a>
					<div class="caption" style="">
						<p>
						<strong>
							Avni <br>
							Program Manager<br>
						</strong>
							recorded July 9, 2016<br>
							recorded by mzz<br>
							2.15 minutes

						</p>
						<p>
							<a href="#"></a>

						</p>

					</div>



				</div>
			</div>


			</div>

			<div class="row">

			<div class="col-sm-4">
				<div class="thumbnail">
				<a href="https://youtu.be/EqWRaAF6_WY">
					<div style="padding: 55px;  margin: 3%;  border: 1px solid #000000;" >
					<img  src="..." alt="videos">
					</div></a>
					<div class="caption" style="">
						<p>
						<strong>
							Arthor <br>
							Program Manager<br>
						</strong>
							recorded July 9, 2016<br>
							recorded by mzz<br>
							2.15 minutes

						</p>
						<p>
							<a href="#"></a>

						</p>

					</div>



				</div>
			</div>

			<div class="col-sm-4">
				<div class="thumbnail">
				<a href="https://youtu.be/9IclmVdWNbI">
					<div style="padding: 55px;  margin: 3%;  border: 1px solid #000000;" >
					<img  src="..." alt="videos">
					</div></a>
					<div class="caption" style="">
						<p>
						<strong>
							Bruce <br>
							Program Manager<br>
						</strong>
							recorded July 9, 2016<br>
							recorded by mzz<br>
							2.15 minutes

						</p>
						<p>
							<a href="#"></a>

						</p>

					</div>



				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
				<a href="https://youtu.be/hrzN1JBmscA">
					<div style="padding: 55px;  margin: 3%;  border: 1px solid #000000;" >
					<img  src="..." alt="videos">
					</div></a>
					<div class="caption" style="">
						<p>
						<strong>
							Barry <br>
							Program Manager<br>
						</strong>
							recorded July 9, 2016<br>
							recorded by mzz<br>
							2.15 minutes

						</p>
						<p>
							<a href="#"></a>

						</p>

					</div>



				</div>
			</div>
			</div>

			<div class="row">

			<div class="col-sm-4">
				<div class="thumbnail">
				<a href="https://youtu.be/6qF_fzEI4wU">
					<div style="padding: 55px;  margin: 3%;  border: 1px solid #000000;" >
					<img  src="..." alt="videos">
					</div></a>
					<div class="caption" style="">
						<p>
						<strong>
							Clark <br>
							Program Manager<br>
						</strong>
							recorded July 9, 2016<br>
							recorded by mzz<br>
							2.15 minutes

						</p>
						<p>
							<a href="#"></a>

						</p>

					</div>



				</div>
			</div>

			<div class="col-sm-4">
				<div class="thumbnail">
				<a href="https://youtu.be/MU3pdikir3U">
					<div style="padding: 55px;  margin: 3%;  border: 1px solid #000000;" >
					<img  src="..." alt="videos">
					</div></a>
					<div class="caption" style="">
						<p>
						<strong>
							Diana <br>
							Program Manager<br>
						</strong>
							recorded July 9, 2016<br>
							recorded by mzz<br>
							2.15 minutes

						</p>
						<p>
							<a href="#"></a>

						</p>

					</div>



				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
				<a href="https://youtu.be/LWEHxR6_TQ4">
					<div style="padding: 55px;  margin: 3%;  border: 1px solid #000000;" >
					<img  src="..." alt="videos">
					</div></a>
					<div class="caption" style="">
						<p>
						<strong>
							Victor <br>
							Program Manager<br>
						</strong>
							recorded July 9, 2016<br>
							recorded by mzz<br>
							2.15 minutes

						</p>
						<p>
							<a href="#"></a>

						</p>

					</div>



				</div>
			</div>
			</div>

			<!--<div class="row">
				<div class="col-sm-12">

					<ul id ="upload_table"> 


						<li>
							<a href="#">	
							</a>
							hey
						</li>

						<li>
							<a href="#">	
							</a>
							hey
						</li>

						<li>
							<a href="#">	
							</a>
							hey
						</li>

					</ul>
				</div>
			</div>-->
			</div>
			

			<div id ="upload_table">
			<div>
				<a href="#"></a>
			</div>	
			</div>



		</div>
		</div>




	
{% endblock %}
