{% extends "site_base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}
{% load static %}

{% block head_title %}
    {% trans "Record your interview" %}
{% endblock %}

{% block body %}
    <br><br><br><br><br><br>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/interviewSetup.css' %}">

    <div class="container-fluid"> 
        <!-- Hero Section -->
        <section class="intro">
            <div class="row-fluid">
                <div class="">
                    <h4 align="left"> Did you know what you wanted to do for a living when you graduated from high school?</h4>.
                    <div class="">
                    	<video id="gum" autoplay muted></video>
                    	<br>
                    	<button id="record">Start Recording</button>
                    	<button id="play" disabled>Play</button>
                    	<button id="download" disabled>Download</button>
                    </div> 
                </div>

                <div class="">
                	<hr>
                    <video id="recorded" autoplay loop></video>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block scripts %}
	<!-- TODO: clean up/optimize the js -->
	<script src="{% static 'js/webRTC/soundmeter.js' %}"></script>
	<script src="{% static 'js/webRTC/record.js' %}"></script>
	<script src="{% static 'js/webRTC/adapter.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}