<header>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function() {
			$("tbox").hide();

			$("#tview").click(function() {
				$("#tbox").show();
				
			});

			$("#tnoview").click(function() {
				$("#tbox").hide();
			});
		});

		function showDiv(select) {
			if (select.value==1) {
				document.getElementsById('#tbox').style.display = "block";
			}
			else {
				document.getElementsById('#<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function() {
			$("tbox").hide();

			$("#tview").click(function() {
				$("#tbox").show();
				
			});

			$("#tnoview").click(function() {
				$("#tbox").hide();
			});
		});

	</script><script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function() {
			$("tbox").hide();

			$("#tview").click(function() {
				$("#tbox").show();
				
			});

			$("#tnoview").click(function() {
				$("#tbox").hide();
			});
		});

	</script><script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function() {
			$("tbox").hide();

			$("#tview").click(function() {
				$("#tbox").show();
				
			});

			$("#tnoview").click(function() {
				$("#tbox").hide();
			});
		});

	</script><script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function() {
			$("tbox").hide();

			$("#tview").click(function() {
				$("#tbox").show();
				
			});

			$("#tnoview").click(function() {
				$("#tbox").hide();
			});
		});

	</script>tbox').style.display = "none";
			}
			
		}

	</script>

	<nav>
		
	</nav>
	<style type="text/css">
		.col-lg-6 {
			padding: 15px;
		}
	</style>

</header>
<body>
<div class="container-fluid" style=" background-color: grey; padding-right: 25%; padding-left: 25%; margin: 1%; ">
	<div>
		<p>
			<strong>
				Please complete the contact information and career survey below
			</strong>
		</p>

		<div class="row">
			<div class=" col-lg-6 ">
				<div>
					<label>
						Name*					
					</label>
				</div>
				<div>
					<input type="" name="" style=" border: 1px solid black;" >
				</div>
			</div>

			<div class=" col-lg-6 ">
			</div>
		</div>

		<div class="row">
			<div class=" col-lg-6 ">
				
					<div>
						<div>
							<label>
								Phone number*
							</label>
						</div>
						<div>

							<input type="tel" name="" style=" border: 1px solid black;">
						</div>
					</div>
			</div>

			<div class=" col-lg-6   " >
				<div>
					Can we text you on this number?*
				</div>
				<div style=" display: inline; ">

					<input type="radio" name="yes"> Yes
					<input type="radio" name="no"> No<br>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div>
					<label>
						Work title*
					</label>
				</div>
				<div>
					<input type="text" name="" style=" border: 1px solid black;">
				</div>
			</div>
			<div class="col-lg-6">
				<div style=" display: inline; ">
				<br>
					<input type="checkbox" name="" style=" border: 1px solid black;"> I am a business owner
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div>
					<label>
						Work industry*
					</label>
				</div>
				<div>					
					<input type="text" name="" style=" border: 1px solid black;">
				</div>
			</div>

			<div class="col-lg-6">
				<div style=" display: inline; ">
					<div>
						Number of years in this industry*
					</div>
					<input type="text" size="2" name="" style=" border: 1px solid black;">
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-6">
				<div>
					<label>
					Your Linkedin profile
					</label>
				</div>
				<input type="text" name="" style=" border: 1px solid black;">
			</div>
			<div class="col-lg-6">
				
			</div>
		</div>

		<div align="left">
			<div>
				<br>
				<div>
					<label>
					Years since high school graduation*
					</label>
				</div>

				<div>
					<select>
						<option value="Select range">
							Select range
						</option>
						<option value="1-4">
							1-4
						</option>
						<option value="5-10">
							5-10
						</option>
						<option value="11 or more">
							11 or more 
						</option>
						<option value="Have not graduated">
							Have not graduated
						</option>

					</select>
				</div>

				<!--<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="drop" data-toggle="dropdown" ario-haspopup="true" aria-expanded="true" value="" >
						Select range
						<span class="caret"></span>
						
					</button>
					<ul class="dropdown-menu" aria-labelledby="drop">
						<li>
							<a href="#">1-4</a>
						</li>
						<li>
							<a href="#">5-10</a>
						</li>
						<li>
							<a href="#">11 or more </a>
						</li>
						<li>
							<a href="#">Have not graduated</a>
						</li>
					</ul>
				</div>-->
			</div>

			<div>
				<br>
				<div>
					<label>
					Highest college degree*
					</label>
				</div>

				<div>
					<select name="opt" onchange="showDiv(this)">
						<option value="0" id="">
							Select
						</option>
						<option onclick="document.getElementsById('tbox').style.display = 'block' " value="1" id="tview">
							associate
						</option>
						<option value="1" id="tview">
							bachelor's
						</option>
						<option value="1" id="tview">
							master's
						</option>
						<option value="1" id="tview">
							doctorial
						</option>
						<option value="0" id="tnoview">
							none
						</option>
					</select>
				</div>
				<!--<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="drop" data-toggle="dropdown" ario-haspopup="true" aria-expanded="true" >
						Select
						<span class="caret"></span>
						
					</button>
					<ul class="dropdown-menu" aria-labelledby="drop">
						<li>
							<a href="#">associate</a>
						</li>
						<li>
							<a href="#">bachelor's</a>
						</li>
						<li>
							<a href="#">master's </a>
						</li>
						<li>
							<a href="#">doctorial</a>
						</li>
						<li>
							<a href="#">none</a>
						</li>
					</ul>
				</div>-->
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<span id="tbox" style=" display: none;">
						<label >
							College major's
						</label>
						<br>
						<textarea   id="tbox" cols="30" rows="12" tabindex="84" data-min-length style=" border: 1px solid black;  opacity: 1; height: 80px; " >
							
						</textarea>
					</span>
				</div>
				<div class="col-lg-6">
					
				</div>
			</div>

			<div align="left">
				<button type="button" class="btn btn-default navbar-btn">Submit</button>		
			</div>
		</div>

	</div>



</body>