<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Record your interview</title>


<!-- Bootstrap -->
<link href="css/simpleGridTemplate.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<meta name="description" content="Glyphicon support for Twitter's Bootstrap">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link href="css/bootstrap.css" rel="stylesheet" type="text/css">


</head>
<body>
 

<!-- Main Container -->
<div class="container-fluid"> 
  <!-- Header -->
  <header class="header">
  
    <h3><span class="glyphicon glyphicon-chevron-left"></span><a href="record-intro.html" title="Exit">Exit</a></h3>
  </header>
  <!-- Question Section -->
  <section class="question">
  <div class="row-fluid" onclick="location.href = 'setup.html';">
    <div class="question-divider">
      <h2>Is what you doing now what you thought you would be doing when you gratuated from high school?</h2>
    </div>
        
  </div>
   <div class="row-fluid">
    <div class="question-divider">
      <h2>Did you pick the right college major?</h2>
    </div>
        
  </div>
   <div class="row-fluid">
    <div class="question-divider">
      <h2 class="answered"><span class="glyphicon glyphicon-ok-sign"></span>What were the motivations, influences or inspirations that led you to choose your career.</h2>
    </div>
        
  </div>
   <div class="row-fluid">
    <div class="question-divider">
      <h2>What would surprise most people about your job?</h2>
    </div>
        
  </div>
   <div class="row-fluid">
    <div class="question-divider" onClick="setup.html">
      <h2>How has your job and/or your industry changed over the years?</h2>
    </div>
        
  </div>
   <div class="row-fluid">
     <div class="question-divider-last">
       <h2>What advice do you have students who are trying to figure out what career to pursue?</h2>
     </div>
  </div>
  </section>

  <div class="copyright">&copy;2017 - <strong>FOR A LIVING</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
