<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>For A Living</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="css/bootstrap.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<link href="css/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>


  <div class="container-fluid"> 
    
  <!-- /.container-fluid --> 

<!-- Main Container -->
<div class="container-fluid"> 
  <!-- Header -->
  <header class="header"> </header>
  
 
  <!-- Video Section -->
  <section>
  <h3>Explore Videos</h3> 
  <!--*row1*-->
  <div class="row-fluid"><div class="gallery">
  
    <div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/48ZzVjAbA1s?rel=0" frameborder="0" allowfullscreen></iframe></div></a>
   <h4>Jenna</h4>
      <p class="tag">Career Educator</p>
      <p class="text_column">What did you learn from some of your first jobs?</p>   
    </div></div>
    
    <div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hXVWG92KXF0?rel=0" frameborder="0" allowfullscreen></iframe></div></a>
      <h4>Erik</h4>
      <p class="tag">User Experience Designer</p>
      <p class="text_column">Did you know what you wanted to do in high school?</p>
    </div></div>
    
    <div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VYoHp6Ocj44?rel=0" frameborder="0" allowfullscreen></iframe></div></a>
      <h4>Jacquie</h4>
      <p class="tag">User Experience Designer</p>
      <p class="text_column">What did you learn from some of your first jobs?</p>
    </div></div>
    
<div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UYhXaP5PHTE?rel=0" frameborder="0" allowfullscreen></iframe></div></a>
      <h4>Avni</h4>
      <p class="tag">Engineering Program Manager</p>
      <p class="text_column">What personality trait helps you most at work?</p>   
    </div></div> 
   </div></div> 
 
<!--*row2*-->  
     <div class="row-fluid"><div class="gallery">
    <div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B9hH_T6xCtE?rel=0" frameborder="0" allowfullscreen></iframe></div></a>
      <h4>Avni</h4>
      <p class="tag">Engineering Program Manager</p>
      <p class="text_column">What would surprise most people about your job?</p>
    </div></div>
    
    <div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/e3EBAe29ODs?rel=0" frameborder="0" allowfullscreen></iframe></div></a>   
       <h4>Jenna</h4>
      <p class="tag">Career Educator</p>
      <p class="text_column">What would surprise most people about your job?</p>
    </div></div>
     <div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oseJ7GaeVSU?rel=0" frameborder="0" allowfullscreen></iframe></div></a>
      <h4>Kamal</h4>
      <p class="tag">College Student & Intern</p>
      <p class="text_column">Why did you choose your college major?</p>   
    </div></div>
    
    <div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v5FJsr0n3ic?rel=0" frameborder="0" allowfullscreen></iframe></div></a>
      <h4>Jacquie</h4>
      <p class="tag">User Experience Designer</p>
      <p class="text_column">What is your favorite part of your job?</p>
    </div></div>
  </div>
  </div>
 
<!--*row3*-->
  <div class="row-fluid"><div class="gallery">
   <div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mvVUsky75Ow?rel=0" frameborder="0" allowfullscreen></iframe></div></a>
      <h4>Erik</h4>
      <p class="tag">User Experience Designer</p>
      <p class="text_column">How does your college major relate to your current work?</p>
    </div></div>
    
    <div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aaLurHJ2nX0?rel=0" frameborder="0" allowfullscreen></iframe></div></a>
      <h4>Jacquie</h4>
      <p class="tag">User Experience Designer</p>
      <p class="text_column">What personality trait helps you most at work?</p>
    </div></div>
   
    <div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ivsdb9BO8FY?rel=0" frameborder="0" allowfullscreen></iframe></div></a>   
       <h4>Jenna</h4>
      <p class="tag">Career Educator</p>
      <p class="text_column">How does your college major relate to your current work?</p>
    </div></div>
    
   <div class="col-md-3 col-sm-6 col-xs-12"><div class="thumbnail"> <a href="#"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uQOBNA0IsXw?rel=0" frameborder="0" allowfullscreen></iframe></div></a>
      <h4>Avni</h4>
      <p class="tag">Engineering Program Manager</p>
      <p class="text_column">Did you know what you wanted to do in high school?</p>   
    </div></div>
  </div>
  </div>
    
   
    
    
 
  
  </section>
 <!-- Documents -->
<!-- <section class="documents">
 <div class="row">
    <div class="col-xs-12 col-md-12">
    <h3>Documents</h3>
    <a href="foraliving.org">doc</a>
    </div>
    </div></section>-->
 <!-- Footer Section -->
  <!-- <footer id="contact">
    <p class="hero_header">Questions</p>
    <div class="button">EMAIL US </div>
  </footer>-->
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2016 - <strong>For A Living</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
